<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/create_user.css" />
    <title>Create User</title>
</head>

<body>
    <div class="container d-flex align-items-center justify-content-center">
        <form action="/users/create" class="box-shadow p-5 w-50" method="POST">
            <div class="img-text text-center">
                <h2 class="text-center px-4">
                    Create New User
                </h2>
            </div>
            <div class="mb-4">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name" />
            </div>
            <div class="mb-4">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email" />
            </div>
            <div class="mb-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" />
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" />
            </div>
            <button type="submit" class="btn btn-primary w-100 css-button-sliding-to-bottom--blue" id="submit">
                Submit
            </button>
        </form>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const submit = document.getElementById('submit');
        submit.addEventListener('click', () => {
            Swal.fire({
                title: 'Success',
                html: 'User data created successfully <br><h3>back to /users</h3> or <br><h3 style="display: inline"><a href="http://localhost:3000/users">check here</a></h3> if you use port <span style="color: red; font-weight: bold; font-size: 25px;">3000</span>',
                icon: 'success',
                confirmButtonText: 'close',
            }).then((result) => {
                if (result.isConfirmed) {
                    location.reload();
                }
            });
        });
    </script>
</body>

</html>